name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r portfolio/requirements.txt
        pip install git+https://github.com/skfolio/skfolio.git --no-cache-dir
        pip install portfolio/. --no-deps --no-cache-dir
    - name: Test with pytest
      run: |
        pip install pytest
        pytest -v
# test push 3